body{
    background-color: gray;
}
.img-container{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border: .75rem solid goldenrod;
    background-color: moccasin;
    overflow: hidden;
    border-radius: 3px;
}
img:hover{
    transform: scale(1.25);
    cursor: grab;
}
img{
    width: 17.2rem;
}

.var-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right:auto;
    justify-content: space-around;
    padding-left: 1rem;
    font-size: 22px;
    letter-spacing: 2px;
    background-color: teal;
    border-radius: 5px;
    color: white;
}
.character-container{
    display: flex;
    flex-direction: row;
}
.icons-container{
    display: flex;
    justify-content: space-between;
    background-color:goldenrod;
    margin-top: 1.5rem;
    border-radius: 5px;
}
button:hover{
    text-shadow: dimgray 2px 2px;
    background-color: moccasin;
    cursor: pointer;


}
button{
    font-size: 75px;
    background-color: darkolivegreen;
    border: solid white 4px;
    border-radius: 3px;
}


